@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap");

/* Color Pallet */
:root {
  --primary-color: #cfb53b;
  --secondary-color: #090909;
}

/* CSS Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Quicksand", sans-serif;
  scroll-behavior: smooth;
}
/* Navbar Started */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--secondary-color);
  color: white;

  position: fixed;
  top: 0;
  /* right: 0; */
  width: 100vw;
  z-index: 55;
}
.nav-items ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.nav-items ul li {
  font-size: 1.8rem;
  font-weight: 700;
}
.highlight {
  color: var(--primary-color);
}
/* Navbar Ended */

/* Header Stated */
header {
  margin-top: 80px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: url(./Assets/Hero.png) no-repeat center;
  background-size: cover;
  background-color: #09090968;
}
.info {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background: #0000006e;
  color: white;
  font-size: 1.6rem;
}
.info a {
  font-size: 1.3rem;
  padding: 10px 20px;
}
.button {
  padding: 10px;
  text-decoration: none;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  text-transform: uppercase;
}
/* Header Ended */

/* Services Section Started */
.services {
  background-color: var(--secondary-color);
  color: white;
  font-size: 1.3rem;

  /* display: flex;
  flex-direction: column; */
  /* gap: 40px; */
  padding: 140px 10px;
}
.service {
  /* margin-top: 500px; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  z-index: 2;
  margin-bottom: 60px;
}
.service-info {
  flex: 0.4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
.service-img {
  flex: 0.3;
  position: relative;
  z-index: 1;
}

.service-info-text p {
  margin-top: 55px;
  width: 80%;
}
.service-info-buttons {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.service-img::after {
  content: "";
  box-sizing: border-box;

  position: absolute;
  width: 347px;
  height: 421px;
  right: 250px;
  top: 90px;
  z-index: -1;

  border: 3px solid #cfb53b;
}
.service-reverse {
  flex-direction: row-reverse;
}
/* Services Section Ended */

/* Footer Section Started */
footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 40px 4px;
  background-color: var(--primary-color);
}
.footer-about {
  flex: 0.4;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}
.footer-about h1 {
  width: 30%;
}
.footer-about p {
  width: 50%;
  font-size: 1.5rem;
  margin: 15px 0px;
}
.footer-about a {
  border-color: black;
  color: black;
  font-weight: 600;
}
.footer-links {
  flex: 0.3;
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  font-weight: 600;
}
.footer-links p {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 10px;
}
