@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Quicksand:wght@500;700&family=Roboto:wght@400;500;700&display=swap");

/* Color Pallet */
:root {
  --primary-color: #cfb53b;
  --secondary-color: #090909;
}

/* CSS Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Quicksand", sans-serif;
  scroll-behavior: smooth;
}
/* Navbar Started */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--secondary-color);
  color: white;

  position: fixed;
  top: 0;
  /* right: 0; */
  width: 100vw;
  z-index: 55;
}
.nav-items ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.nav-items ul li {
  font-size: 20px;
  font-weight: 500;
}
.highlight {
  color: var(--primary-color);
}
/* Navbar Ended */

/* Header Stated */
header {
  margin-top: 80px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: url(./Assets/Hero.png) no-repeat center;
  background-size: cover;
  background-color: #09090968;
}
.info {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background: #0000006e;
  color: white;
}
.info h1 {
  font-size: 36px;
  font-weight: 700;
}
.info a {
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px;
}
.button {
  padding: 10px;
  text-decoration: none;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  text-transform: uppercase;
}
/* Header Ended */

/* Services Section Started */
.services {
  background-color: var(--secondary-color);
  color: white;
  font-size: 1.3rem;

  /* display: flex;
  flex-direction: column;
  gap: 0px /  30px; */
  padding: 70px 10px;
}
.service {
  /* margin-top: 500px; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: 500px;
  z-index: 2;
  margin: 83px auto;
  max-width: 1280px;
}
.service-info {
  flex: 0.55;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
.service-img {
  flex: 0.3;
  position: relative;
  z-index: 1;
}

.service-img img {
  object-fit: contain;
  width: 426px;
  height: 480px;
}

.service-info-text p {
  margin-top: 55px;
  width: 90%;
  font-weight: 400;
}
.service-info-text p,
.service-info-buttons a {
  font-size: 18px;
}
.service-info-text h1 {
  font-size: 36px;
  font-weight: 500;
}
.service-info-buttons {
  display: flex;
  justify-content: space-between;
  width: 70%;
  font-weight: 500;
}
.service-img::after {
  content: "";
  box-sizing: border-box;

  position: absolute;
  width: 347px;
  height: 421px;
  right: 120px;
  top: 100px;
  z-index: -1;

  border: 3px solid #cfb53b;
}
.service-reverse {
  flex-direction: row-reverse;
}
/* Services Section Ended */

/* Footer Section Started */
footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 11px 101px;
  background-color: var(--primary-color);
}
.footer-about {
  flex: 0.4;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}
.footer-about h1 {
  width: 30%;
  font-size: 24px;
  font-weight: 500;

  line-height: 29px;
  letter-spacing: 0.03em;
}
.footer-about p {
  width: 50%;
  margin: 15px 0px;

  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.03em;
}
.footer-about a {
  border-color: black;
  color: black;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.footer-links {
  flex: 0.3;
  display: flex;
  justify-content: space-between;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  letter-spacing: 0.03em;
}
.footer-links p {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
